@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='search']:focus {
    outline: none;
    border-width: 2px;
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
